.navbarHome {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  margin: 0;
  width: 100%;
}

.navbarTitle {
  font-size: 24px;
  font-family: "Arial Black", sans-serif;
  font-weight: 900;
}

.navbarButton {
  padding: 15px 25px;
  font-size: 18px;
  font-weight: bold;
  color: white;
  background: linear-gradient(45deg, #ff00cc, #3333ff);
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.navbarButton:hover {
  background: linear-gradient(45deg, #ff3399, #0000ff);
  transform: scale(1.05);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}
